body {
  font-family: sans-serif;
  font-size: 14px;
}

.Container {
  margin: 60px 20px 40px;
}

.IsItReady {
  margin-bottom: 40px;
  text-align: center;
}

.IsItReady h1 {
  color: #262626;
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
}

.Graph {
  height: 200px;
  margin-left: -10px;
  width: 100%;
}

.ProgressBar {
  background: white;
  border-bottom: 1px solid #262626;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.ProgressBar > div {
  background: #666;
  color: #fff;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-indent: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
