body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.Container {
  margin: 60px 40px 40px;
}

.IsItReady {
  margin-bottom: 40px;
  text-align: center;
}

.IsItReady h1 {
  font-size: 200px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
}

.Graph {
  height: 200px;
  width: 100%;
}

.ProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
  border-bottom: 1px solid #262626;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.ProgressBar > div {
  line-height: 30px;
  text-indent: 10px;
  color: #fff;
  background: #666666;
}
